@using LeaderboardFrontend.Models
@model List<LeaderboardViewModel>

<br />
<div class="container p-4 border">
    <div class="row pb-2">

        <div class="col">
            <h1 class="text-primary">Users</h1>
        </div>

        <div class="col text-end p1-1">
            <a asp-controller="Users" asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-square-fill"></i> Kullanıcı Ekle</a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Bugün</th>
                    <th>Toplam</th>
                    <th>Streak</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Rank</td>
                        <td>@item.Username</td>
                        <td>@item.TodayPages</td>
                        <td>@item.TotalPages</td>
                        <td>@item.Streak</td>
                        <td>
                            <a asp-controller="Users" asp-action="Details" asp-route-Id="@item.Id"
                               class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>